<a href="https://colab.research.google.com/github/yk-Jeong/KNOU/blob/main/2022_2_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B3%BCR_%EC%B6%9C%EC%84%9D%EC%88%98%EC%97%85%EA%B3%BC%EC%A0%9C%EB%AC%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**출석수업 과제물** (2022년도 2학기 - 서울, 경기, 지역)


   1) 교재 연습문제 3장(p. 73) – 1번, 2번, 3번 (배점 9점)

   2) 교재 연습문제 4장(p. 100) - 7번, 8번, 9번 (배점 9점)

   3) 교재 연습문제 8장(p. 268) - 2번 (배점 12점)
   

※ 8장 연습문제는 R과 파이썬을 각각 이용하여 작업하기 바람.

과제물은 pdf 파일로 제출하기 바랍니다.  (한글, word 작업 후 저장후에 "pdf 로  저장하기" 를 선택하면 됩니다.

73p 

2)

In [2]:
# 리스트 정의
x1 = ['kim', 'lee', 'park']
x2 = [170, 160, 180]
x3 = [60, 55, 75]

In [10]:
# dictionary로 변환 

dict = {'name':x1, 'height': x2, 'weight': x3}

In [13]:
# 확인 

dict

{'name': ['kim', 'lee', 'park'],
 'height': [170, 160, 180],
 'weight': [60, 55, 75]}

3)

In [14]:
# lib load 
import pandas as pd

In [15]:
# dict를 dataframe으로 변환 

dict_to_df = pd.DataFrame(dict)

In [20]:
# 확인 

dict_to_df

   name  height  weight
0   kim     170      60
1   lee     160      55
2  park     180      75

In [24]:
# 첫 번재 사람 kim의 이름을 제외한 키/몸무게 값만 출력

dict_to_df.iloc[[0], [1, 2]]

   height  weight
0     170      60

100p

7)

In [25]:
def mywage(x):
  if (x <= 40):
    print(x*10000,"원")
  else:
    print(((x-40)*15000)+400000,"원")
mywage(45)

475000 원

9)

In [26]:
def example(x): 
  a = "Hello" + x + "!"
  b = "Good-bye" + x + "!"
  result = [a, b]
  for str in result:
    print(str)
example(" David ")

Hello David !
Good-bye David !