<a href="https://colab.research.google.com/github/yk-Jeong/KNOU/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%8A%A4%ED%84%B0%EB%94%94_13%EC%A3%BC%EC%B0%A8(220708).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<pre><center>*
***
*****
***
*
</pre></center>

...를 찍는 방법에 대해서 계속 이야기해보았다. (모임장님과 나 외에는 아무도 없는 쓸쓸한 스터디를 하면서...)

In [ ]:
#가운뎃줄을 따로 빼고, 나머지 앞뒤가 대칭이므로 각각 for문을 적용하면 될 것 같다.

In [21]:
n = int(input("홀수인 자연수를 입력하세요. "))

홀수인 자연수를 입력하세요. 5

In [22]:
for i in range(1, n+1):
  print(" "*(5-i) + "*" * i)

    *
   **
  ***
 ****
*****

In [12]:
for i in range(1, n+1):
  print("*"*i)

*
**
***
****
*****

- break, continue

무슨 수를 입력하더라도 15가 출력되는 고장난 계산기를 만들었다.

In [15]:
value = int(input("정수를 입력하세요: "))
sum_value = 0
for i in range(0, value + 1):
  sum_value += i
  if i == 5:
    break

print("1부터 %d까지의 합은 %d입니다." %(value, sum_value))

정수를 입력하세요: 10
1부터 10까지의 합은 15입니다.

In [25]:
#들여쓰기에 신경을 써야 하는 지점

value = int(input("정수를 입력하세요: "))
sum_value = 0
for i in range(1, value +1):
  sum_value += i
  if i == 5:
    break
else:
    print("5보다 낮은 수가 입력되었습니다.")

print("1부터 %d까지의 합은 %d입니다." %(value, sum_value))

정수를 입력하세요: 3
5보다 낮은 수가 입력되었습니다.
1부터 3까지의 합은 6입니다.

In [29]:
#들여쓰기에 신경을 써야 하는 지점

value = int(input("정수를 입력하세요: "))
sum_value = 0
for i in range(1, value +1):
  if i == 5:
    continue
  sum_value += i

print("1부터 %d까지 5를 제외한 합은 %d입니다." %(value, sum_value))

정수를 입력하세요: 10
1부터 10까지 5를 제외한 합은 50입니다.

In [46]:
#while문에서 continue를 썼을 때 에러가 나는 지점

value = int(input("정수를 입력하세요: "))
sum_value = 0
count = 1

while count <= value: 
  if count == 5:
    continue

  sum_value += count
  count += 1

print("1부터 %d까지 5를 제외한 합은 %d입니다." %(value, sum_value))

정수를 입력하세요: 10

KeyboardInterrupt: ignored

In [45]:
#while문에서 continue를 썼을 때 에러가 나는 지점

value = int(input("정수를 입력하세요: "))
sum_value = 0
count = 1

while count <= value: 
  if count == 5:
    count += 1
    continue

  sum_value += count
  count += 1

print("1부터 %d까지 5를 제외한 합은 %d입니다." %(value, sum_value))

정수를 입력하세요: 10
1부터 10까지 5를 제외한 합은 50입니다.

숙제! 피라미드 만들기.

In [51]:
n = int(input("홀수인 자연수를 입력하세요. "))

for i in range(1, n):
  print("*" * i)
print("*" * n)

홀수인 자연수를 입력하세요. 5
*
**
***
****
*****