<a href="https://colab.research.google.com/github/yk-Jeong/KNOU/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%8A%A4%ED%84%B0%EB%94%94_9%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

while문: 

python에서 가장 간단한 반복문의 일종.

식이 참이면 문장을 실행하고, 식이 거짓이면 문장의 실행을 종료한다(단 실행할 문장들이 while보다 들여쓰기되어 있어야 함).

In [1]:
value = int(input("양의 정수를 입력하세요: "))

양의 정수를 입력하세요10

In [2]:
sum_value = 0
count = 1

In [4]:
while count <= value:
  sum_value += count 
  count += 1

print("1부터 %d까지의 합은 %d입니다." %(value, sum_value))

1부터 10까지의 합은 55입니다.

Q. 1부터 입력한 정수까지 홀수의 합을 구하는 프로그램을 만들어보자.

모야 생각보다 너무 간단한데 나는 못했어 '-`

In [8]:
value = int(input("양의 정수를 입력하세요: "))
sum_value = 0
count = 1 
while count <= value :
    sum_value += count 
    count += 2

print("1부터 %d까지의 홀수의 합은 %d입니다." %(value, sum_value))

양의 정수를 입력하세요: 10
1부터 10까지의 합은 25입니다.

Q. 1부터 입력한 정수까지 짝수의 합을 구하는 프로그램을 만들어보자. 단, count = 1 부분을 손대지 말 것.

In [18]:
value = int(input("양의 정수를 입력하세요: "))
sum_value = 0
count = 1 
while count <= value :
  if count % 2 == 0 : 
    sum_value += count 
  count += 1
    
print("1부터 %d까지의 짝수의 합은 %d입니다." %(value, sum_value))

양의 정수를 입력하세요: 10
1부터 10까지의 짝수의 합은 30입니다.

Q. 홀수/짝수 합계를 나누어서 구해보자.

In [20]:
value = int(input("양의 정수를 입력하세요: "))
sum_value_odd = 0
sum_value_even = 0
count = 1 
while count <= value :
  if count % 2 == 0 : 
    sum_value_even += count 
    count += 2
  elif count % 2 == 1:
    sum_value_odd += count 
    count += 1
    
print("1부터 %d까지의 짝수의 합은 %d입니다." %(value, sum_value_even))
print("1부터 %d까지의 홀수의 합은 %d입니다." %(value, sum_value_odd))

양의 정수를 입력하세요: 10
1부터 10까지의 짝수의 합은 30입니다.
1부터 10까지의 홀수의 합은 1입니다.

Q. 이중 while문으로 구구단 출력 프로그램을 만들어 보자.

아니 6모르겠어요.9

In [56]:
num_1 = 1

while num_1 <= 9:
  num_2 = 1
  while num_2 <=9:
    print(f'{num_1} * {num_2} = {num_1 * num_2}')
    num_2 += 1
  print("")
  num_1 += 1

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [24]:
num_1 = 2
num_2 = 1
print(f'{num_1} * {num_2} = {num_1 * num_2}')

2 * 1 = 2