<a href="https://colab.research.google.com/github/yk-Jeong/KNOU/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%8A%A4%ED%84%B0%EB%94%94_16%EC%A3%BC%EC%B0%A8(220812).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
###함수
####위치 인수와 키워드 인수 

- 위치 인수: 함수에서 인수의 위치를 정해서 순서대로 넣음
- 키워드 인수: 함수를 호출할 때 인수의 순서와 관계없이 호출

위치 인수 모으기와 가변 위치 인수 
- 위치 인수 모으기: 매개변수가 여러 개 있는 경우, 여러 개의 값을 전달하려면 리스트 또는 튜플 앞에 *를 붙여서 함수의 인수로 사용할 수 있다.

In [ ]:
def add(a, b):
  return a + b

values = [10, 20]
print(add(*values))

30

In [ ]:
def add2(a, b, c):
  return a + b + c

values2 = [10, 20, 30]
print(add2(*values)) # 필요한 변수가 3개인데 모자라서 에러가 발생

TypeError: ignored

In [ ]:
print(add(*values2)) # 반대로, 필요한 변수가 2개인데 넘쳐서 에러가 발생

TypeError: ignored

위치 인수 모으기와 가변 위치 인수
- 가변 위치 인수: 함수를 정의할 때 *를 이용하여 매개변수를 지정하면 인수의 개수가 정해지지 않은 가변인수를 사용하는 함수가 만들어진다.

In [ ]:
def addAll(*args):
  sum = 0
  for v in args: 
    sum += v
  return sum

print(addAll())

0

In [ ]:
print(addAll(10))

10

In [ ]:
print(addAll(10, 20))

30

In [ ]:
values = [10, 20, 30]
print(addAll(*values))

60

키워드 인수 모으기와 가변 인수
- 키워드 인수 모으기: 키워드와 그에 해당하는 값을 쌍으로 구성되어 

딕셔너리의 키는 반드시 문자열 형태여야 한다.

In [ ]:
def print_score(name, score):
  print("Name = %s" % name)
  print("Score = %d" % score)

students = {'name':'kim', 'score':90}
print_score(**students)

Name = kim
Score = 90

In [ ]:
def print_score(**kwargs):
  for k, v in kwargs.items():
    print(k, '=', v)

print_score(name = 'kim')

name = kim

잠깐: **kwargs**란? 

keyword arguments의 줄임말로, 개념을 알고 싶다면 -> 
[참고](https://velog.io/@clueless_coder/%ED%8C%8C%EC%9D%B4%EC%8D%AC-args-%EC%99%80-kwargs-%EA%B0%80-%EB%AD%90%EC%98%88%EC%9A%94)


[parameter와 argument의 차이](https://velog.io/@clueless_coder/%ED%8C%8C%EC%9D%B4%EC%8D%AC-Parameter-%EC%99%80-Argument-%EC%9D%98-%EC%B0%A8%EC%9D%B4%EA%B0%80-%EB%AD%90%EC%98%88%EC%9A%94)

return 문장을 이용해서 값을 반환할 때, 한 개의 값만 반환할 수 있는 것이 아니라 comma를 이용하여 여러 개의 값을 한 번에 반환할 수 있다.

In [ ]:
def add_sub(a, b):
  return a+b, a-b

result1, result2 = add_sub(10, 20)
print(result1, result2)

30 -10

- 함수가 단순히 출력만을 담당한다면 값을 반환하지 않을 수도 있다. 
- 다음과 같이 함수의 반환값을 다른 변수에 넣을 경우 None
None은 값이 없는 자료형이다.

In [20]:
def print_hello():
  print("Hello world!")

print(print_hello())

Hello world!
None

####미니 과제

In [30]:
def print_Hello(a):
  if a == False:
    pass # return일 때와 pass일 때를 구분해 보자 
  print("Hello World")

In [31]:
print_Hello(False)

Hello World

In [32]:
print_Hello(True)

Hello World