<a href="https://colab.research.google.com/github/yk-Jeong/KNOU/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%8A%A4%ED%84%B0%EB%94%94_10%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

지난 시간의 while 잠깐 복습

In [1]:
count1 = 1

In [3]:
while count1 <=9:
  count2 = 1
  while count2 <= 9:
    print("%d * %d = %d" %(count1, count2, count1*count2))
    count2 += 1
  print("")
  count1 += 1

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [8]:
values = [10, 20, 30, 40, 50]
print(values)

[10, 20, 30, 40, 50]

In [12]:
for v in values:
  v += v
print(v)

100

예제: 다음과 같이 list가 있을 때 for문을 활용해 합계와 평균을 구해보자.

In [34]:
values = [90, 80, 95, 70]

In [40]:
sum_value = 0
avg_value = 0

for v in values:
  sum_value += v
avg_value = sum_value / len(values)
print("합계: %.2f, 평균: %.2f" %(sum_value, avg_value))

합계: 335.00, 평균: 83.75

In [41]:
sum(values)

335

<b>for </b>: 리스트와 튜플, 문자열 순회

In [56]:
#문자열을 for문을 이용하여 순회
str = "Hello World!"

Hello
World! 로 나오게 하려면?

In [58]:
for ch in str.split():
  print(ch) 

  #너무 수월해서 힘이 빠진다

Hello
World!

<b>for </b>: 딕셔너리 순회

In [59]:
student = {'kim':90, 'lee':80, 'park':95, 'choi':70}

In [67]:
student.keys()

dict_keys(['kim', 'lee', 'park', 'choi'])

예제: 


kim 90 <br>
lee 80<br>
park 95<br>
choi 70 <br>


이렇게 출력하려면?

In [74]:
for key, value in student.items():
  print(f'{key} {value}')

kim 90
lee 80
park 95
choi 70

In [77]:
 for k, v in student.items():
  print(k, v)

kim 90
lee 80
park 95
choi 70