<a href="https://colab.research.google.com/github/yk-Jeong/KNOU/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%8A%A4%ED%84%B0%EB%94%94_12%EC%A3%BC%EC%B0%A8(220701).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#####역삼각형과 다이아몬드 별 찍어보기

역-직삼각형

In [13]:
for i in range(6):
  for j in range(5-i):
    print("*", end="")
  print("")

*****
****
***
**
*

능선? 모양

In [21]:
for i in range(1, 10):
  if i < 6:
    for j in range(i):  
      print("*", end="")
    print("")
  else: 
    for j in range(10-i):
      print("*", end="")
    print("")

*
**
***
****
*****
****
***
**
*

반-모래시계?

In [30]:
for i in range(1, 10):
  if i < 6:
    for j in range(6-i):
      print("*", end="")
    print("")
  else: 
    for j in range(i-5):  
      print("*", end="")
    print("")

*****
****
***
**
*
*
**
***
****

모래시계?

In [ ]:
for i in range(1, 10):
  if i < 6:
    for j in range(6-i):
      print(''+ "*" * j)
  else: 
    for j in range(i-5):  
      print("*" * j +'')

In [50]:
for i in range(10):
  if i < 6: 
    for j in range(5-i):  
      print("*", end="")
    print("")
  else: 
    for j in range(7-i): 
      print("*", end="")
    print("")

*****
****
***
**
*

*

**enumerate**

리스트와 튜플 같은 시퀀스 자료형을 입력받아, 인덱스 값을 포함하는 'enumerate' 객체를 반환한다.

In [51]:
names = ['kim', 'lee', 'park', 'choi']
enumerate(names)

In [53]:
list(enumerate(names))

[(0, 'kim'), (1, 'lee'), (2, 'park'), (3, 'choi')]

In [54]:
values =[10, 20, 30, 40, 50]
print(values)

[10, 20, 30, 40, 50]

In [55]:
for i, v in enumerate(values):
  values[i] += 1
print(values)

[11, 21, 31, 41, 51]

In [57]:
student = {'kim':90, 'lee':80, 'park':95, 'choi':70
           }
for i, k in enumerate(student):
  print(i, ":", k, student[k])
print("")
for i, k in enumerate(student.items()):
  print(i, ":", k)

0 : kim 90
1 : lee 80
2 : park 95
3 : choi 70

0 : ('kim', 90)
1 : ('lee', 80)
2 : ('park', 95)
3 : ('choi', 70)

In [58]:
for i, k in enumerate(student.keys()):
  print(i, ":", k)

0 : kim
1 : lee
2 : park
3 : choi

In [59]:
for i, k in enumerate(student.values()):
  print(i, ":", k)

0 : 90
1 : 80
2 : 95
3 : 70

zip()

In [67]:
names = ['kim', 'lee', 'park']
eng = [90, 80, 85, 70]
math = [100, 90, 90, 80]
student = zip(names, eng, math)
dict(student)

ValueError: ignored

In [61]:
student

In [62]:
type(student)

zip

In [66]:
for n, e, m in zip(names, eng, math):
  print("이름 = %s, 영어 = %d, 수학 = %d" % (n, e, m))

이름 = kim, 영어 = 90, 수학 = 100
이름 = lee, 영어 = 80, 수학 = 90
이름 = park, 영어 = 85, 수학 = 90

In [69]:
#무한루프 오류
value = int(input("양의 정수를 입력하세요: "))
sum_value = 0
count = 1

while count <= value:
  sum_value += count 
print("1부터 %d까지의 합은 %d입니다." %(value, sum_value))

양의 정수를 입력하세요: 10

KeyboardInterrupt: ignored

In [ ]:
#고친다면
while True: 
  sum_value += count
  count += 1

  if count == value:
    break