<a href="https://colab.research.google.com/github/yk-Jeong/KNOU/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%8A%A4%ED%84%B0%EB%94%94_18%EC%A3%BC%EC%B0%A8(220826).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

수업이 없고 대신 과제가 있었던 날.

1. 1부터 50까지 3, 6, 9 게임의 결과를 출력하는 프로그램을 작성한다. 
3, 6, 9 숫자가 한 번 들어갈 경우에는 `*`를, 3, 6, 9 숫자가 두 번 들어갈 경우에는 `**`를, 들어가지 않을 경우 숫자를 표시한다.

In [40]:
num = ['3', '6', '9']
for i in range(1, 10):
  a = str(i)
  if a in num:
    star = "*"
  else: 
    star = a

  print(f'{i} = {star}')

for i in range(10, 51):
  a = str(i)
  if a[0] in num:
    if (a[1] is not None) and (a[1] in num):
      star = '**'
    else:
      star = '*'
  elif (a[1] is not None) and (a[1] in num):
    star = '*'
  else:
    star = a

  print(f'{i} = {star}')

1 = 1
2 = 2
3 = *
4 = 4
5 = 5
6 = *
7 = 7
8 = 8
9 = *
10 = 10
11 = 11
12 = 12
13 = *
14 = 14
15 = 15
16 = *
17 = 17
18 = 18
19 = *
20 = 20
21 = 21
22 = 22
23 = *
24 = 24
25 = 25
26 = *
27 = 27
28 = 28
29 = *
30 = *
31 = *
32 = *
33 = **
34 = *
35 = *
36 = **
37 = *
38 = *
39 = **
40 = 40
41 = 41
42 = 42
43 = *
44 = 44
45 = 45
46 = *
47 = 47
48 = 48
49 = *
50 = 50

2. 1부터 n까지 더하는 프로그램을 재귀함수를 이용해 작성하시오.

In [3]:
def recursive(n):
  if n < 2: # 반드시 n이 2보다 작은 경우를 상정해 주어야 함 
    return n
  else: 
    return n + recursive(n - 1)

In [4]:
n = int(input("정수를 입력하세요: "))
print(f'1부터 {n}까지의 합은 {recursive(n)}입니다.')

정수를 입력하세요: 100
1부터 100까지의 합은 5050입니다.

3. 3의 x^n을 계산하는 프로그램을 람다함수를 이용해 작성하시오.

In [9]:
x = float(input("밑을 입력하세요: "))
n = int(input("지수를 입력하세요: "))
result = lambda x, n: x ** n
print(f'result = {result(x, n)}')

밑을 입력하세요: 3.5
지수를 입력하세요: 7
result = 6433.9296875