<a href="https://colab.research.google.com/github/yk-Jeong/KNOU/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%8A%A4%ED%84%B0%EB%94%94_1%2C_2%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#01_01
width = 12
height = 34
area = width * height 
print(area)

408

In [3]:
#01_01 새로 

print("가로가 12cm, 세로가 34cm인 사각형의 면적 = ", 12*34, "\n")

가로가 12cm, 세로가 34cm인 사각형의 면적 =  408

In [ ]:
#01_02
squared = 3 ** 2 
cubic = 3 ** 3
print(squared)
print(cubic)

9
27

In [ ]:
#01_03
string = input("문자열을 입력하세요 : ")
print("대문자로 변경하면 다음과 같습니다.")
string = string.upper()
print(string)
num = string.count("L")
print(f'대문자 L이 {num}개 포함되어 있습니다.')

문자열을 입력하세요 : hello world!
대문자로 변경하면 다음과 같습니다.
HELLO WORLD!
대문자 L이 3개 포함되어 있습니다.

In [ ]:
string = input("문자열을 입력하세요 : ")
print(string.replace(' ', '\n'))

문자열을 입력하세요 : hello world
hello
world

In [ ]:
#01_05
a = int(input("첫 번째 정수를 입력하세요 : "))
b = int(input("두 번째 정수를 입력하세요 : "))
print("합 = ", a + b)
print("차 = ", a - b)

첫 번째 정수를 입력하세요 : 20
두 번째 정수를 입력하세요 : 10
합 =  30
차 =  10

In [ ]:
#01_06
string = input("문자열을 입력하세요 : ")
"-".join(string)

문자열을 입력하세요 : hello

'h-e-l-l-o'

In [ ]:
#01_07
mid = int(input("중간고사 점수를 입력하세요(100점 만점: 30%): "))
final = int(input("기말고사 점수를 입력하세요(100점 만점: 30%): "))
assignment = int(input("과제 점수를 입력하세요(100점 만점: 10%): "))
attendance = int(input("출석 점수를 입력하세요(100점 만점: 30%): "))

score = float(mid*0.3 + final*0.3 + assignment*0.1 + attendance*0.3)

print("중간고사 점수:", mid)
print("기말고사 점수:", final)
print("과제 점수:", assignment)
print("출석 점수:", attendance)
print("최종 점수:", score)

중간고사 점수를 입력하세요(100점 만점: 30%): 80
기말고사 점수를 입력하세요(100점 만점: 30%): 90
과제 점수를 입력하세요(100점 만점: 10%): 100
출석 점수를 입력하세요(100점 만점: 30%): 95
중간고사 점수: 80
기말고사 점수: 90
과제 점수: 100
출석 점수: 95
최종 점수: 89.5

In [ ]:
#02_01

val = 10
print("홀수") if val % 2 == 1 else print("짝수")

짝수

In [ ]:
#02_01

val = 10
if val % 2 == 1:
  print("홀수")
else:
  print("짝수")

짝수

In [ ]:
#02_02

num = int(input("정수를 입력하세요 : "))
if num > 0:
  print("양수입니다.") 
elif num == 0: 
  print("양수도 음수도 아닌 0입니다.")
else: 
  print("음수입니다.")

정수를 입력하세요 : 10
양수입니다.

In [ ]:
#02_03

GPA = float(input("평균 평점을 입력하세요 : "))
if GPA >= 4.3 :
  scholarship = 0
elif GPA >= 4.2 and GPA < 4.3:
  scholarship = 0.5
elif GPA >= 3.9 and GPA < 4.1:
  scholarship = 0.75
else:
  scholarship = 1

tuition = int(scholarship * 3000000)

print(f'수업료는 {tuition}원입니다.')

평균 평점을 입력하세요 : 3.9
수업료는 2250000원입니다.