<a href="https://colab.research.google.com/github/yk-Jeong/KNOU/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%8A%A4%ED%84%B0%EB%94%94_11%EC%A3%BC%EC%B0%A8(220624).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

딕셔너리 순회: for문을 사용하여 딕셔너리의 요소들을 순회하면서 키를 반환한다.

In [2]:
student = {'kim':90, 
           'lee':80, 
           'park':95, 
           'choi':70}

In [13]:
for k in student:
  print(k)

kim
lee
park
choi

<pre>kim 90
lee 80
park 95
choi 70</pre>
와 같은 형태로 출력하려면 어떻게 할 수 있을까?

In [14]:
#answer
for k, v in student.items():
  print(k, v)

kim 90
lee 80
park 95
choi 70

<pre>
average = 83.75
</pre>

를 출력해 보자.

In [37]:
#풀었다!! ^^
sum_score = 0
for v in student.values():
  sum_score += v
aver = (sum_score / len(student.values()))
print("average = %.2f" %aver)

average = 83.75

파이썬에서 사용하는 for문은 시퀀스 자료형*의 모든 요소를 순회하기 위하여 사용한다.
- *시퀀스 자료형: 

range(), enumerate(), zip()
- range(): 숫자 시퀀스를 생성하기 위하여 사용
- enumerate():
- zip():

**.range()**

리스트나 튜플 같은 자료를 생성하지 않고 특정 범위 내에서 숫자 시퀀스를 반환한다.

컴퓨터의 메모리를 사용하지 않고 


*range() 함수가 반환하는 값은 모두 range 자료형이다. 따라서 리스트 또는 튜플로 변경해서 사용해야 한다. 

그러나 range 자료형은 리스트/튜플과 같은 *시퀀스* 자료형이기 때문에 for문에서 변환 없이 직접 사용한다.

다음과 같이 출력해보자.

<pre>
정수를 입력하세요: 10 
1부터 10까지의 합은 55입니다.
</pre>

In [46]:
value = int(input("정수를 입력하세요: "))
sum_value = 0
for i in range(value+1): #반드시 +1을 해주어야 한다는 점 주의 
  sum_value += i
print('1부터 %d까지의 합은 %d입니다.' % (value, sum_value))

정수를 입력하세요: 10
1부터 10까지의 합은 55입니다.

문장을 단순히 반복하여 출력하는 경우

In [47]:
for i in range(4):
  print("Hello")

Hello
Hello
Hello
Hello
Hello

In [48]:
#또는 _를 활용 가능(입력할 변수가 없다)

for _ in range(4):
  print("Hello")

Hello
Hello
Hello
Hello

이제 구구단 출력 정도는 쉽게~

In [53]:
for i in range(1, 10):
  for j in range(1, 10):
    print(f'{i} * {j} = {i*j}')
  print("")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81


<u>이중 for문을 사용하여</u> 다음과 같이 표현해 보자. 

<pre>
*****
*****
*****
*****
*****
</pre>

<pre>
*
**
***
****
*****
</pre>

#####정답

In [68]:
for i in range(5):
  for j in range(5):
    print("*", end="")
  print("")

*****
*****
*****
*****
*****

In [70]:
for i in range(5):
  for j in range(i+1):
    print("*", end="")
  print("")

*
**
***
****
*****

스스로 해보기: 역삼각형과 다이아몬드 별 찍어보기