<a href="https://colab.research.google.com/github/yk-Jeong/KNOU/blob/main/2022_python/%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%8A%A4%ED%84%B0%EB%94%94_23%EC%A3%BC%EC%B0%A8_221005.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

숙제를 해 가기는 했는데, 회장님이 원하는 방식이 아니었다. ㅎㅎ 

출제자의 의도대로 한번 수정해보자.

##### 1. 내가 낸 버전

In [1]:
# 숙제: 함수로 만들기 
# 학생들의 총점과 평균을 출력해 보자. 

# 1. 합계 구하는 함수 
# 2. 평균 구하는 함수
# 3. 출력하는 함수 

def student_to_string(student):
  name = student['name']
  score_sum = student['korean']+student['math']+student['english']+student['science']
  avg = score_sum / 4
  return print(name, score_sum, avg)

In [7]:
def create_student(name, korean, math, english, science):
  return {
      "name":name, "korean" : korean, "math": math, "english": english, "science":science
  }

In [8]:
students = [
    create_student("윤인성", 87, 98, 88, 95),
    create_student("연하진", 92, 98, 96, 98),
    create_student("구지연", 76, 96, 94, 90),
    create_student("나선주", 98, 92, 96, 92),
    create_student("윤아린", 95, 98, 98, 98),
    create_student("김명월", 64, 88, 92, 92)
]

In [9]:
print("이름", "총점", "평균", sep="\t")
for student in students:
  student_to_string(student)

이름	총점	평균
윤인성 368 92.0
연하진 384 96.0
구지연 356 89.0
나선주 378 94.5
윤아린 389 97.25
김명월 336 84.0

##### 2. 출제자가 의도한 것

우선 지난 시간 복습부터

In [10]:
students = [{"name":"윤인성", "korean":87, "math":98, "english":88, "science":95},
            {"name":"연하진", "korean":92, "math":98, "english":96, "science":98},
            {"name":"구지연", "korean":76, "math":96, "english":94, "science":90},
            {"name":"나선주", "korean":98, "math":92, "english":96, "science":92},
            {"name":"윤아린", "korean":95, "math":98, "english":98, "science":98},
            {"name":"김명월", "korean":64, "math":88, "english":92, "science":92}]

In [22]:
print("이름", "총점", "평균", sep='\t')
for student in students : 
  score_sum = student['korean']+student['math']+student['english']+student['science']
  avg = score_sum / 4
  print(student["name"], score_sum, avg)

이름	총점	평균
윤인성 368 92.0
연하진 384 96.0
구지연 356 89.0
나선주 378 94.5
윤아린 389 97.25
김명월 336 84.0

파이썬은 변수명과 함수명을 한글로 지을 수도 있으니, 이참에 한번 해보도록 하자.

In [23]:
def 학생키워드(이름, 국어, 수학, 영어, 과학):
  return {
      "name":이름, "korean" : 국어, "math": 수학, "english": 영어, "science":과학
  }

In [31]:
학생 = [
    학생키워드("윤인성", 87, 98, 88, 95),
    학생키워드("연하진", 92, 98, 96, 98),
    학생키워드("구지연", 76, 96, 94, 90),
    학생키워드("나선주", 98, 92, 96, 92),
    학생키워드("윤아린", 95, 98, 98, 98),
    학생키워드("김명월", 64, 88, 92, 92)
]

In [39]:
def 개별총점(학생):
  총점 = (학생['korean'] + 학생['math'] + 학생['english'] + 학생['science'])
  return 총점 

def 개별평균(학생):
  평균 = (개별총점(학생) / 4)
  return 평균

def student_to_string(학생):
  print(학생["name"], 개별총점(학생), 개별평균(학생), sep='\t')

In [40]:
student_to_string(학생[0])

윤인성	368	92.0

이제 이것을 for문으로 일반화해보자!

In [43]:
for n in students:
  student_to_string(n)

윤인성	368	92.0
연하진	384	96.0
구지연	356	89.0
나선주	378	94.5
윤아린	389	97.25
김명월	336	84.0

여기까지 오래 걸려서 클래스 만드는 건 다음 시간에 하기로ㅠㅠ