<a href="https://colab.research.google.com/github/yk-Jeong/KNOU/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%8A%A4%ED%84%B0%EB%94%94_6%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**for문**

형식: 

for 변수들 in 시퀀스 
문장

In [ ]:
names = ['kim', 'lee', 'park', 'choi']
for name in names:
  print(name)

kim
lee
park
choi

In [ ]:
values = [10, 20, 30, 40, 50]
print(values)
for v in values:
  v +=1 

print(values)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]

In [ ]:
values = [90, 80, 95, 70]

sum_value = 0

for value in values:
  sum_value = sum_value + value

aver_value = sum_value / len(values)

print("합계 = %.2f, 평균= %.2f" %(sum_value, aver_value))

합계 = 335.00, 평균= 83.75

In [ ]:
str = "Hello,World!"
for word in str.split(','):
  print(word)

str = "Hello World!"
for word in str.split(' '):
  print(word)

Hello
World!
Hello
World!

In [ ]:
numbers = [273, 103, 5, 32, 65, 9, 72, 800, 99]
for num in numbers:
  if num >= 100:
    print(f'- 100 이상의 수 : {num}')

- 100 이상의 수 : 273
- 100 이상의 수 : 103
- 100 이상의 수 : 800

중첩 리스트의 해체

참고: https://programmers.co.kr/learn/courses/4008/lessons/12738

In [ ]:
list_of_list = [[1, 2, 3], [4, 5, 6, 7], [8, 9]]

answer = []
for elements in list_of_list:
  answer += elements
answer

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#원소를 모두 따로 나오게 하려면 
answer = []
for elements in list_of_list:
  answer += elements
for num in answer:
    print(num)

1
2
3
4
5
6
7
8
9